.btn.primary {
  background-color: #f39200; }
  .btn.primary:hover {
    background-color: #f39200;
    transition: 0.4s; }

nav.header-nav {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10px;
  padding: 0 10%;
  box-shadow: none; }
  nav.header-nav a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; }
  nav.header-nav .order-btn {
    background-color: #f39200;
    width: 100px;
    text-align: center; }
    nav.header-nav .order-btn .cant-added {
      position: absolute;
      padding-top: 15px;
      padding-right: 39px;
      font-size: 15px;
      font-weight: 400; }
  nav.header-nav li {
    width: 100px;
    text-align: center; }

@media only screen and (max-width: 992px) {
  nav.header-nav {
    position: fixed;
    z-index: 99;
    margin-top: 0;
    background-color: #f39200; }
    nav.header-nav .nav-wrapper #nav-mobile {
      height: 100%; }
      nav.header-nav .nav-wrapper #nav-mobile .order-btn {
        height: 100%;
        display: flex;
        align-items: center; }
        nav.header-nav .nav-wrapper #nav-mobile .order-btn a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%; }
    nav.header-nav i.material-icons {
      display: inline; }
    nav.header-nav #menu-icon {
      display: inline-block !important;
      margin-top: 8px;
      cursor: pointer; }
    nav.header-nav .bar1, nav.header-nav .bar2, nav.header-nav .bar3 {
      width: 25px;
      height: 4px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s; }
    nav.header-nav .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px); }
    nav.header-nav .change .bar2 {
      opacity: 0; }
    nav.header-nav .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -5px); }
    nav.header-nav #navBody {
      display: flex !important;
      justify-content: center;
      background-color: #000000de;
      position: fixed;
      left: 0;
      width: 100%;
      height: 0px;
      transition: 0.5s; }
      nav.header-nav #navBody ul {
        margin-top: 100px; }
        nav.header-nav #navBody ul li {
          text-align: center;
          float: none; }
          nav.header-nav #navBody ul li .navBar-txt {
            display: none;
            color: #ffffff;
            transition: 1s;
            cursor: pointer; } }
